body {
    font-family: 'Roboto', sans-serif;
    background-color: tan;
    background-image: url(https://raw.githubusercontent.com/airgiraffe/SerenityBuildCalculator/main/Images/paper2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(38, 33, 49);
}

h2, h3, p {
    margin: 0px;
    padding: 0px;
    border: 0;
}

.main {
    display: flex;
    align-items: stretch;
    position: relative;
}

.main-left {
    padding-right: 10px;
    max-width: 30%;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


.main-left-row {
    margin-bottom: 10px;
    /*border: 5px double gray;*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255,255,255, 0.4);
    box-shadow: rgba(93, 67, 50, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main-left-row:last-of-type {
    margin-bottom: 0px;
}

.attributes-title-group {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    justify-content: space-between;
    box-shadow: rgba(93, 67, 50, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
}
.row-title {
    text-align: left;
}

.row-content {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#build-info {
    justify-content: stretch;
    padding: 0px 10px;
    margin-top: 10px;
}

.build-info-group {
    display: flex;
    min-width: 0px;
}

#build-name {
    border: none;
    border-bottom: 1px rgba(93, 67, 50, 0.25) solid;
    background-color: rgba(93, 67, 50, 0.1);
    appearance: none;
    min-width: 0px;
    max-width: none;
    width: 30em;
    flex-grow: 1;
    font-size:  1.2em;
    font-weight: 800;
}
#build-info-level {
    flex-shrink: 1;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 10px;
    font-size: 0.8em;
}
#build-info-level-value {
    font-weight: 800;
    font-size: 2em;
    text-align: right;
}

#basic-choices {
    justify-content: space-between;
}
.basic-choice-group {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}
.basic-choice-group > h3 {
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.basic-choice-group > select {
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    border: 1px rgba(93, 67, 50, 0.25) solid;
    background-color: rgba(255, 255, 255, 0.5);
    appearance: none;
    text-align: center;
    font-weight: 800;
}

#attributes-row {
    justify-self: stretch;
}

#attributes {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    

}
.attribute-content {
    display: flex;
    justify-content: space-between;

}
.attribute-value-group {
    padding: 0 10px;
    text-align: center;
}

#attribute-magicka {
    color: blue;
}

#attribute-health {
    color: red;
}

#attribute-stamina {
    color: rgb(59, 170, 87);
}

.attribute-button {
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 0.5em;
    border: none;
    background-color: rgba(255, 255, 255, 0.25);
    user-select: none;
}

.attribute-total {
    font-weight: 800;
    font-size: 1.5em;
    width: 2.5em;
}

.attribute-value {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: rgba(93, 67, 50, 0.25) 0px 2px 8px 0px;
    margin-bottom: 5px;

}

.attribute-value-group > h3 {
    padding-bottom: 0px;
    padding-top: 0.2em;
    line-height: 0.6em;
}
.attribute-base {
    font-size: 0.8em;
}

.derived-grid {
    display: grid;
    padding: 10px 20px 10px 20px;
    grid-template-columns: 1fr 0.3fr;
}
.derived-value-label {
    grid-column: 1;
    border-bottom: 1px solid gray;
    padding: 2px 20px 3px 0px;
}
.derived-value {
    text-align: right;
    grid-column: 2;
    border-bottom: 1px solid gray;
}

.no-border {
    border: none;
}  

.main-right {
    display: flex;
    flex-grow: 1;
}
.skills-container {
    /*border: 5px double grey;*/
    background-color: rgba(255,255,255, 0.4);
    box-shadow: rgba(93, 67, 50, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 0px;
}

.skill {
    width: 50px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    min-width: 90px;
    padding-top: 10px;
    cursor: pointer;
}

.skill-icon {
    overflow: visible;
    height: 60px;
    width: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.skill-text {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.main-middle {
    display: flex;
    flex-direction: column;
    position: relative;
    /*border: 5px double gray;*/
    margin-right: 10px;
    background-color: rgba(255,255,255, 0.4);
    box-shadow: rgba(93, 67, 50, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

.tree-viewer {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin: 10px;
    height: 100%;
}

.skill-details{

    margin-top: 20px;
    text-align: right;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

    box-shadow: rgba(93, 67, 50, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
}

#skill-title {
    text-transform: uppercase;
    margin: 0px; padding: 0px;
    margin-right: 1em;
    
}

.skill-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.skill-buttons > button{
    padding: 5px 10px 5px 10px;
    width: 15em;
    cursor: pointer;
    border: 1px rgba(93, 67, 50, 0.25) solid;
    background-color: rgba(255, 255, 255, 0.5);
}
.perk-circle {
    cursor: pointer;
    fill: rgb(61, 55, 49);
    transition: fill 0.2s;
}

.skill-level-buttons > button {
    border: none;
    cursor: pointer;
    width: 2em;
}

.takenPerk {
    fill: rgb(45, 122, 90);
}

.takenPerkLine {
    stroke: rgb(59, 170, 87);
    opacity: 0.3;
}

.taken-perk-tooltip {
    color: rgb(45, 122, 90);
}


#build-code-container {
    padding: 10px;
}
#build-code {
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
    padding: 0px 5px 0px 5px;
}

#build-copy {
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border: 1px rgba(93, 67, 50, 0.25) solid;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

#perk-description-box {
    position: absolute;
    min-width: 300px; max-width: 500px;
    min-height: 50px;
    background-color: slategray;
    padding: 1em;
    text-align: center;
    display: none;
    font-size: 0.8em;
    background-color: rgba(255,255,255, 0.9);
    box-shadow: rgba(93, 67, 50, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


#perk-description-box::after {
    content: '';
    display: block;
    position: absolute;
    width: 20px; height: 20px;
    transform: rotate(45deg);
    top: -10px;
    left:calc(50% - 10px);
    background: inherit;
} 

#perk-description-rank-title {
    margin-bottom: 0;
    display: none;
}

#perk-description-rank-body {
    display: none;
}

#alert {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0; top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center; align-items: center;
}
#alert-box {
    text-align: center;
    padding: 1em;
    width: 350px;
    background-color: rgba(255,255,255, 0.9);
    box-shadow: rgba(93, 67, 50, 0.5) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#alert-box-text {
    margin-bottom: 20px;
}

#alert-box-close {
    padding: 5px 10px 5px 10px;
    width: 6em;
    cursor: pointer;
    border: 1px rgba(93, 67, 50, 0.25) solid;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(93, 67, 50, 0.2) 0px 5px 5px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;

}
